@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --font-mono: ui-monospace,
  Menlo,Monaco,"Cascadia Mono",
  "Segoe UI　Mono","Roboto Mono","Oxygen Mono",
  "Ubuntu Monospace","Source Code Pro",
  "Fira Mono","Droid Sans Mono","Courier New", monospace;
  --color-text-main: #333;
  --color-text-dark: #ccc;
  --color-text-sub: #999;
  --color-text-unpainted: #fff;
  --color-text-error: #f33;
  --color-bg-dark: #000;
  --color-bg-sub: #f3f3f3;
  --color-bg-code: #fafafa;
  --color-bg-painted: #333;
  --color-border-dark: #333;
  --color-border: #ddd;
  --color-border-darker: #aaa;
  --color-border-light: #f3f3f3;
  --color-current: #eee;
  --color-button-primary: #333;
  --border-radius: 4px;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --color-text-main: #ddd;
    --color-text-dark: #222;
    --color-text-sub: #777;
  }
  body {
    background-color: #000;
    color: #fff;
  }
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
