.top {
    position: unset !important;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #444;
    overflow: visible;
    padding: 200px 0;
}
.title{
    font-size: 7rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5rem;
}
.container {
    transform: none !important;
    position: static !important;
    background: #fff;
    width: 75%;
    margin: 2.5% auto 0;
    z-index: auto !important;
}
.galleriesTitle{
    font-size: 2rem;
    text-align: center;
}
.galleriesList{
    border-bottom: 1px solid var(--color-border-light);
}.galleriesList:last-child{
     border-bottom: none;
 }

.link{
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    padding: 20px 0;
    z-index: 10;
    pointer-events: auto;
    position: relative;
}

.image{
    width: 240px;
    height: auto;
}

.galleriesItemTitle{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.meta{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.moreButton{
    background-color: var(--color-bg-sub);
    font-size: 2rem;
    position: absolute;
    right: -1rem;
    bottom: -1rem;
}
@media (max-width: 640px) {
    .link {
        display: block;
        padding: 16px 0;
    }

    .image {
        display: none;
    }

    .title {
        font-size: 0.6rem;
        font-weight: bold;
        margin-bottom: 0.2rem;
    }
    .moreButton{
        font-size: 1rem;
        position: absolute;
        right: -0.5rem;
        bottom: -0.5rem;
    }
    .meta {
        display: flex;
        align-items: center;
        gap: 16px;
    }
}
@media (prefers-color-scheme: dark) {
    .moreButton{
        background-color: var(--color-bg-sub-dark);
    }
    .container{
        background-color: #000;
    }
}

